<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Site mboudhina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <h1>
        We'll be right back...
    </h1>
    <p>
        Le site est actuellement entrain de se refaire un nouveau style
    </p>
<body>
    
</body>
</html>